<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684173672427-3p63u546aoui5qrumfii34im6g6e04ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684173672427-3p63u546aoui5qrumfii34im6g6e04ej</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>684173672427-u44iv4mo86dm68ekqut9jfnas1hb2ilf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArur_ASsvurd0yuxhfK1CRw8kGimdUtZM</string>
	<key>GCM_SENDER_ID</key>
	<string>684173672427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucsc.sluglink</string>
	<key>PROJECT_ID</key>
	<string>sluglink-e60af</string>
	<key>STORAGE_BUCKET</key>
	<string>sluglink-e60af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684173672427:ios:cf1e17fd22ecc3c9dce3ae</string>
	<key>DATABASE_URL</key>
	<string>https://sluglink-e60af-default-rtdb.firebaseio.com</string>
</dict>
</plist>